table{
    width: 100;
            margin: auto;
            border-width: 1px;
            border-style: solid;
            border-color: gray;
            border-collapse: collapse;
            text-align: center;
            background-color: whitesmoke;
            font-family: 'Pacifico', cursive;
}